@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Tilt+Neon&display=swap");
:root {
    --main-color-1: #00cac7;
    --main-color-2: rgb(46, 189, 255);
    --colo-primary-card: rgba(46, 189, 255, 0.698);
    --main-color-dark: #242425;
    --main-color-dark-1: #636277;
    --main-color-dark-2: #bebcbc;
    --bg-body: #ececf0;
    --bg-body-2: #e0e7e7;
    --bg-color-2: #e6efef;
    --bg-color-3: #dbd9f7;
    --colo-white-3: #f8f8f8;
    --nav-after-color: rgb(212 233 255);
    --text-color: #aebfd4;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
::-webkit-scrollbar{
    width: .8rem;
}
::-webkit-scrollbar-track{
    background: var(--bg-color-3);
}
::-webkit-scrollbar-thumb{
  background: var(--main-color-1);
}
html {
    font-size: 15px;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
body{
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(24,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23A006FF'/%3E%3Cstop offset='1' stop-color='%2300FFE4'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='23' height='23' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23FFFFFF' cx='11.5' cy='11.5' r='11.5'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.08'/%3E%3C/svg%3E");
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}
/* header */
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: 0.3s;
}
.container-header {
    position: relative;
    width: 100%;
    max-width: 70rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}
header.active{
    background-color: var(--nav-after-color);
    box-shadow: 0 5px 18px 0.1px rgba(0,0,0,0.1);
    backdrop-filter: blur(15px);
}
header.scrolled {
    background-color: var(--nav-after-color);
    box-shadow: 0 5px 18px 0.1px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
}
nav.container-header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
  
header .logo{
    height: 120px;
    line-height: 120px;
}
  
header.scrolled .logo{
    height: 80px;
    line-height: 80px;
} 

.links{
    display: flex;
    justify-content: space-between;
    flex:1;
    padding-left: 3rem;
}
  
header nav{
    justify-content: space-between;
}
.links ul{
    display:flex;
    align-items: center;
    width:100%;
}
  
.nav-link{
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    color: var(--colo-white-3);
    font-weight: 500;
    opacity: 0.9;
    transition: 0.3s;
}
  
.nav-link::after{
    content: "";
    position: absolute;
    width: 0;
    height:10px;
    border-radius: 5px;
    background-color: #9320ff;
    bottom: 0;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}
  
.nav-link:hover, .nav-link.active{
    color:#dbd9f7;
}
  
.nav-link:hover::after, .nav-link.active::after{
    width:100%;
    opacity: 0.2;
}
  
.toggle-btn{
    color:var(--main-color-1);
    min-width:40px;
    height: 40px;
    background-color: var(--bg-color-2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    transition: 0.3s;
    margin-right: -6.5rem;
}
  
.toggle-btn:hover {
    filter: brightness(97%);
}
.hamburger{
    display:none;
    padding: 1rem 0;
    height: 12px;
    width: 25px;
    box-sizing: content-box;
    cursor: pointer;
    position: relative;
}
  
.hamburger .bar{
    width: 100%;
    height: 2px;
    background-color: var(--main-color-1);
    border-radius: 3px;
    position: absolute;
}
  
.hamburger .bar:first-child{
    top: 1rem;
    transition:top 0.2s 0.15s, transform 0.3s;
}
  
.hamburger .bar:last-child{
    bottom: 1rem;
    transition: bottom 0.2s 0.15s, transform 0.3s;
}
  
body.open .hamburger .bar:first-child{
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
    transition:top 0.2s, transform 0.3s 0.1s;
}
  
body.open .hamburger .bar:last-child{
    bottom:50%;
    transform:translateY(50%) rotate(45deg);
    transition:bottom 0.2s, transform 0.3s 0.1s;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('./img/banner/a-forja.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: 0.5s;
}
.banner::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.content{
    position: relative;
    max-width: 550px;
    display: none;
    visibility: hidden;
    transform: scale(0);
    transition: 0.5s;
}
.content.active{
    display: block;
    visibility: visible;
    transform: scale(1);
    transition: 0.5s;
}
.movie-title{
    max-width: 250px;
}
.banner .content h4{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 30px;
}
.banner .content h4 span{
    padding: 0 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.banner .content h4 span:last-child{
    border-right: none;
}
.banner .content h4 span i{
    background: green;
    color: var(--colo-white-3);
    padding: 0 8px;
    display: inline-block;
    border-radius: 2px;
}
.banner .content p{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: var(--colo-white-3);
    margin: 10px 0 20px;
}
.banner .content .button{
    position: relative;
}
.banner .content .button a{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background: green;
    color: var(--colo-white-3);
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
}
.banner .content .button a:nth-child(2){
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.banner .content .button a:hover:nth-child(2){
    background: green;
}
.banner .carousel-box{
    position: relative;
    min-width: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
}
.carousel{
    position: relative;
    height: 550px;
    perspective: 1500px;
}
.carousel .carousel-item{
    width: 250px;
    cursor: pointer;
}
.carousel .carousel-item img{
    max-width: 235px;
    border-radius: 10px;
    transform: translateX(8px) translateY(-100px);
    object-fit: cover;
    object-position: center;
}
.play{
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--colo-white-3);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2em;
    cursor: pointer !important;
    transition: 0.3s;
}
.play i{
    margin-right: 10px;
    font-size: 40px;
    cursor: pointer !important;
}
.play:hover{
    color: green;
}
.trailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    /* visibility: hidden;
    opacity: 0; */
    transition: 0.5s;
}
.trailer.active{
    visibility: visible;
    opacity: 1;
}
.trailer video{
    max-width: 900px;
    outline: none;
}
.close{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 30px;
}
@media (max-width: 1070px) {
    /* header */
  .logo{
    font-size: 1.45rem;
  }

  header .logo{
    height: 100px;
    line-height: 120px;
  }

  .nav-link{
    font-size: 0.7rem;
  }
}
@media (max-width: 710px){
      /* header */
  .hamburger {
    display: block;
  }
  .links{
    order:3;
    flex-basis:100% ; /*width: 100%*/
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:0.5rem 0 2rem;
    opacity:0;
    transition:0.3s;
  }

  .links ul{
      position:relative;
      flex-direction:column;
  }

  .nav-link{
      margin:1.5rem 0;
      color:var(--heading-color);
      font-weight:500;
  }

  .toggle-btn{
      margin:0;
  }

  .links ul::after{
      content: "";
      position:absolute;
      width:0%;
      height: 0.5px;
      background-color:var(--heading-color);
      opacity:0;
      top:-0.5rem;
      left:50%;
      transform:translate(-50%, -50%);
      transition:0.3s;
  }

  .overlay {
      width:100vw;
      height:100vh;
      top:0;
      left:0;
      position:fixed;
      background-color: rgba(0,0,0, 0.7);
      z-index:6;
      opacity:0;
      transition:0.3s;
      pointer-events:none;
  }
  header{
      height:505px;
      max-height:100px;
      overflow:hidden;
  }
  header.scrolled{
      height:485px;
      max-height:80px;
  }
  body.open header{
      max-height:505px;
      background-color:var(--bg-color-2);
  }

  body.open .overlay {
      opacity:1;
      pointer-events:auto;
  }
  body.open .links  ul::after{
      opacity:0.7;
      width:100%;
  }

  body.open header.scrolled{
      max-height:485px;
  }
  body.open .links{
      opacity:1;
  }
}